[Unit]
Description=Kiwi TCMS Deployment Backup

[Timer]
# Run every night at 1 AM.
OnCalendar=*-*-* 01:00:00
Unit=kiwitcms-deployment-backup.service

[Install]
WantedBy=timers.target